/*
  Authors:
      Andrew Coakley (A00398990)
      Amr Ghoneim (A00425709)
      Keenan King (A00401667)
      Jalen Pinder (A00420851)

  The purpose of this file is to provide a CSS style guideline for the p1.html file.

  It is divided into:
    1) HTML tag styles
    2) Class styles
    3) ID styles
*/

* {
  text-shadow: none;
}

/* HTML tag styles*/
/*These allow certain concepts to be seen depending on what concet option is selected*/
#LocalControl {
  display: none;
}

#annualB {
  display: none;
}

#drafts {
  display: none;
}

#in {
  display: none;
}

#Material {
  display: none;
}

#environment {
  display: none;
}

h1 {
  margin-top: 70px;
  margin-left: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #3104fb !important;
}

select {
  width: 114px;
}

input.ui-slider-input {
  display: none !important;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

/* Class styles */

.blueTextSel {
  color: #3104fb !important;
  width: 200px;
}

.ui-page,
.ui-header {
  background-color: #d0dacf !important;
}

.ui-select {
  margin: auto;
  color: blue;
}

.ui-slider {
  width: 75%;
  margin: auto;
}

.center {
  margin: auto;
  width: 50%;
}

.ctr {
  padding: 60px;
}

.align {
  margin-left: 50px;
}

.ui-grid-c {
  padding: 10px;
  width: 1500px;
  margin: auto;
}

/* ID stlyes */

#shipCrate {
  margin-top: 20px;
  margin-left: 100px;
}

#blueSel1 .ui-btn {
  background-color: #a3bcfd;
  border: none;
  height: 22px;
}

#blueSel2 .ui-btn {
  background-color: #a3bcfd;
  border: none;
  height: 22px;
  font-size: 15px;
}

#blueSlider .ui-btn {
  background-color: #a3bcfd;
  border: none;
}

#mainSelDiv {
  margin-top: 70px;
  margin-left: 70px;
}

#insulation {
  visibility: visible;
}

#opaque > .ui-input-text {
  display: inline-block;
  width: 50px;
}

#annual > .ui-input-text {
  display: inline-block;
  width: 70px;
}
